<% if current_user && current_user.user_profile.admin? %>
   <div class="container">
       <div class="row">
           <legend><h1>Admin İşlemleri</h1></legend>
<div class="col-md-2">
<ul class="nav nav-pills nav-stacked">
 <li role="presentation" ><%= link_to 'Eğitim Ekle ',new_education_path%></li>
 <li role="presentation" ><%= link_to 'Admin Ata ',admins_user_profiles_path%></li>
 <li role="presentation" ><%= link_to 'Sınav Ekle ',admins_user_profiles_path%></li>
 <li role="presentation" ><%= link_to 'Sınav S. Ekle ',new_education_path%></li>
 <li role="presentation" ><%= link_to 'Sertifika Ekle ',new_education_path%></li>
</ul>
</div>
<div class="col-md-5"></div>
<div class="col-md-5"></div>
       </div>
   </div>
 <%end%>