<nav class="navbar navbar-default ">
  <div class="container" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  

    <ul class="list-inline">
      <li> <%= link_to root_path do%> 
            <img class="mmo-logo" src="/assets/logo.png">
            <% end %>
      </li>
      <li> <h2> <small>Makine Mühendisleri Odası Eğitim Portalı</small></h2></li>
    </ul>
    
      
     
    </div>
      
        <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Eğitimler',education_pre_records_path%></li>
        <li><a href="#">Sınavlar</a></li>
        <li><a href="#">Sertifikalar</a></li>
        
        <% unless user_signed_in? %>
                          <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              </ul>
              <% else %>
                      


        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profilim <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><%= link_to "Profil",new_user_profile_path %></a></li>
            <li><a href="#"><%= link_to "Eğitimlerim",my_educations_path %></a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
          </ul>
          <li> <img class="avatar" src="/assets/user.png"> </li>
        </li>


        <% end %>
      </ul>
    </div>
  </div>
</nav>