<div class="container font home ">

   <% if flash[:notice] %>
     <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      
        <div class="notice"> <%= flash[:notice] %></div>
        </div>
    <% end %>
       
<div class="div font">
  <span class="home-text">

    Makine Mühendisleri Odası Eğitim Portalına hoşgeldiniz. Bu portal üzerinde profilinizi oluşturabilir, meslek içi eğitimlere katılabilir, sınavlara başvurabilir ve onaylı sertifikalar ile mesleğinizde uzmanlaşabilirsiniz.</span>
    <br>
    <br>
    
     <p><a class="btn btn-primary btn-lg">Başlayalım!</a></p>
</div>
<div class="div">
  <img class="home-image" src="assets/miem-home.png">
</div>  
</div>


 <div class="container font">
  <h2><span>Son Eklenen Eğitimler</span></h2>
  <div class="row education">
</div>
  
  <table class="table table-striped  ">
  <thead>
    <tr>
      
      <th>Eğitim</th>
      <th>Şube</th>
      <th>Başlama Tarihi</th>
      <th>Bitiş Tarihi</th>
      <th>Kontenjan</th>
       <th>Kayıt</th>
    </tr>
  </thead>
  <tbody>
    <% @education.each do |education| %>
    <tr>
      <td><%=education.name%></td>
      <td><%=education.location%></td>
      <td><%=education.start_date%></td>
      <td><%=education.finish_date%></td>
      <td><%=education.users.count%>/<%=education.quota%></td>
      <td><%= link_to 'Başvur', education_path(education)%></td>
    </tr>
      <% end %>
  </tbody>

</table> 

<%= will_paginate @education %>

<!-- <ul class="pagination pagination-sm">
  <li class="disabled"><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul> -->

</div> 
