<div class="container">
	<div class="row">
	 <%= form_for (@user_profile), html: { multipart: true } do |f| %>
        
		<p>
			<%= f.label "Name " %><br>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label "Surname" %><br>
			<%= f.text_field :surname %>
		</p>
		<p>
			<%= f.label "Email" %><br>
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label "Mobile Phone" %><br>
			<%= f.text_field :mobile_phone %>
		</p>
		<p>
			<%= f.label "Register Number" %><br>
			<%= f.text_field :register_no %>
		</p>
		<p>
			<%= f.label "Admin" %><br>
			<%= f.check_box :admin %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>

	</div>
</div>