 <div class="container">
    <div class="row">
        <ul class="margin">
            <li class="nav navbar-nav navbar-right">

            </li>
        </ul>
    </div> <!-- / row -->

    <div class="row">
        <div class="col-md-7">
            <div class="form-horizontal">
                  
             <legend>PROFİL EKLE</legend>
             <br>
             <%= form_for @user_profile, html: { multipart: true } do |f| %>

             <% if flash[:notice] %>
             <div class="notice"><%= flash[:notice] %></div>
             <% end %>

             <%= f.hidden_field :user_id, value: current_user.id %>
     <div class="form-group"> 
             <div class="col-md-2"> <label>Ad: </label><br></div>
             <div class="col-md-10"><%= f.text_field :name ,class: "form-control" %></div>
     </div>
     <div class="form-group"> 
            <div class="col-md-2"><label>Soyad:</label><br></div> 
            <div class="col-md-10"><%= f.text_field :surname ,class: "form-control"%></div> 
     </div>
     <div class="form-group"> 
         <div class="col-md-2"><label>Email:</label><br></div> 
         <div class="col-md-10"><%= f.text_field :email ,class: "form-control"%></div> 
     </div>
     <div class="form-group"> 
        <div class="col-md-2"><label>Cep Telefonu::</label><br></div> 
        <div class="col-md-10"><%= f.text_field :mobile_phone ,class: "form-control"%></div> 
    </div>
    <div class="form-group"> 
        <div class="col-md-2"><label>Kayıt No:</label><br></div> 
        <div class="col-md-10"><%= f.text_field :register_no ,class: "form-control"  %></div> 
    </div>
    <div class="form-group"> 
        <div class="col-md-2"></div>
        <div class="col-md-10"><%= f.submit 'PROFİL OLUŞTUR' ,class: "btn btn-primary"%></div>
    </div>
    <% end %>
</div>
</div>
</div>
</div>
</div>