 

<div class="container font">
  
<% if flash[:notice] %>
     <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <%= flash[:notice] %></div>
    <% end %>


    <table class="table">
      <thead>
        <tr>
          
          <th><small>Eğitim Adı</small></th>
          <th><small>Açıklama</small></th>
          <th><small>Amaç</small></th>
          <th><small>Konum</small></th>
          <th><small>Ücret</small></th>
          <th><small>Sınav Ücreti</small></th>
          <th><small>Top.Süre</small></th>
          <th><small>Kayıt Durumu</small></th>
        </tr>
      </thead>
      <% @pre_education.each  do |pre|%>

      <tbody>
        <tr>
          <td><%=pre.name%></td>
          <td><%=pre.description %></td>
          <td><%=pre.purpose %></td>
          <td><%=pre.location%></td>
          <td><%=pre.fee%></td>
          <td><%=pre.exam_fee %></td>
          <td><%=pre.total_hour%></td>
          <td><%=pre.education_pre_records.count%></td>
           <td>
            <%= link_to 'Ön Kayıt', education_pre_record_path(pre) %>
          </td>
        </tr>
        
      </tbody>
      <% end %>
    </table> 
  </div>