  



  <div class="container font">
  
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="notice"> <%= flash[:notice] %></div>
      
    </div>

    <% end %>



    <table class="table table-striped  ">
      <thead>
        <tr>
          
          <th>Eğitim</th>
          <th>Şube</th>
          <th>Başlama Tarihi</th>
          <th>Bitiş Tarihi</th>
          <th>Kontenjan</th>
        </tr>
      </thead>
      <tbody>
        <% @my_education.each do |education| %>
        <tr>
          <td><%=education.name%></td>
          <td><%=education.location%></td>
          <td><%=education.start_date%></td>
          <td><%=education.finish_date%></td>
          <td><%=education.users.count%>/<%=education.quota%></td>
          <td><%= link_to 'Göster', education_path(education)%></td>
          <td><%= link_to 'Kayıt İptal', cancel_path(education), data:{ confirm:"Eğitimi iptal etmek istediğinizden emin misiniz?"},class: "red"%></td>
        </tr>
        <% end %>
      </tbody>

    </table> 

  </div>