

<div class="container font">
  <div class="row">
    <legend><strong>Yeni Eğitim Tanımla</strong>&nbsp&nbsp<small>Şubemizdeki yeni eğitimlere burdan ekleyebilirsiniz.</small></legend>
     <% if flash[:notice] %>
     <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Oluşmadı!</strong> 
                     <div class="notice"> <%= flash[:notice] %></div>
       </div>
        <% end %>
    <div class="col-md-12">
      <div class="form-horizontal">        
         <%= form_for @education  do |f| %>


            <%= f.hidden_field :creater_id, value: current_user.id  %>
            <div class="form-group">
               <label class="col-md-2 control-label">Eğitim Adı </label> 
                 <div class="col-md-7">
                  <%= f.text_field :name ,class: "form-control" %> 
                 </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label">Eğitim Açıklaması </label> 
                 <div class="col-md-7">
                  <%= f.text_area :description ,class: "form-control" %> 
                </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label">Eğitim Amacı </label> 
                 <div class="col-md-7">
                  <%= f.text_field :purpose ,class: "form-control" %> 
                 </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label">Eğitim Yeri </label> 
                 <div class="col-md-7">
                  <%= f.text_field :location ,class: "form-control" %> 
                 </div>
            </div>

            <div class="form-group">
               <label class="col-md-2 control-label">Eğitim Ücreti</label> 
                <div class="col-md-2">
                 <%= f.text_field :fee ,class: "form-control" %> 
                </div>
               <label class="col-md-3 control-label">Sınav/Belge Ücreti</label> 
                <div class="col-md-2">
                 <%= f.text_field :exam_fee ,class: "form-control" %> 
                </div>
            </div>
            <div class="form-group">
               <label class="col-md-2 control-label">Başlangıç Tarihi</label> 
                <div class="col-md-3">
                 <%= f.date_select :start_date ,class: "form-control", min: Date.today %> 
                </div>
               <label class="col-md-1 control-label">Bitiş Tarihi</label> 
                <div class="col-md-3">
                 <%= f.date_select  :finish_date ,class: "form-control", min: Date.today %> 
                </div>
            </div> 

            <div class="form-group">
               <label class="col-md-2 control-label">Toplam Saat</label> 
                <div class="col-md-2">
                  <%= f.text_field :total_hour ,class: "form-control" %> 
                </div>
                <label class="col-md-3 control-label">Kontenjan</label> 
                <div class="col-md-2">
                  <%= f.text_field :quota ,class: "form-control" %> 
                </div>
            </div> 
<br>
            <div class="form-group">

              <div class="col-md-4 col-md-offset-2">
               
                <legend>Hangi Meslekler Katılsın</legend>
              
                 <% @jobs.each  do |job| %>
                  <%= check_box_tag("job_ids[]",job.id) %>
                  <%= label_tag("job",job.name ) %><br>
                 <% end %>
             </div>
             <div class="col-md-4 "></div>
             <div class="col-md-4 "></div>
            </div>
            <div class="form-group">
               <div class="col-md-9 text-right">
                  <div class="row">
                   <p>
                      <%= f.check_box :send_email %> Eğitime Ön Kayıt Yapanlara mail ve sms Gönderilsin mi ? 

                     </p>
                  </div>
                 </div>
               <div class="col-md-2 text-right"></div>
            </div>

            <div class="form-group">
              <div class="col-md-7 text-right"></div>
              <div class="col-md-2 text-right">
               <%= f.submit 'Eğitimi Kaydet' ,class: "btn btn-primary"%>
              </div>
            </div>
         <% end %>
      </div>
    </div>
  </div>
</div>

​